form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
form h2{
    text-align: center;
    color:#764ba2;
}
form input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 0;
    outline: none;
}

input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 0;
    outline: none;
}